* {
  font-size: 1.1em;
}

body {
  background-color: pink;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0;
}

img {
  max-height: 200px;
}

.btn {
  background-color: purple;
  color: white;
  margin: 10px;
}

.btn:hover {
  color: lightblue;
}

input {
  border-radius: 5px;
}

.tamagotchi-container {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.tamagotchi-container div a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  color: black;
  font-size: 0.9em;
}

a:hover {
  text-decoration: none;
  color: lightblue;
}

a {
  color: white;
}

.footer,
.stats {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
