@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Welcome to Tamagotchis!</h1>
  <img src="~/img/tamagotchiHome.gif">
  <div class="footer">
    <button class="btn">
      <a href="/tamagotchis/new">Add A Tamagotchi</a>
    </button>
    <button class="btn">
      <a href="/tamagotchis">View Your Tamagotchis</a>
    </button>
  </div>
</div>

