@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Welcome to Tamagotchis!</h1>
  <img src="~/img/tamagotchiHome.gif">
  <div class="footer">
    <a href="/tamagotchis/new">Add A Tamagotchi</a>
    <a href="/tamagotchis">View Your Tamagotchis</a>
  </div>
</div>

