@{
  Layout = "_Layout";
}
  <h1>Enter your Tamagotchi's name:</h1>
  <form action="/tamagotchis" method="post">
    <label for="name">Tamagotchi Name</label>
    <input id="name" name="name" type="text">
    <button type="submit">Adopt!</button>
  </form>